In [1]:
import os
import shutil
import pandas as pd

from tqdm import tqdm
from sklearn.model_selection import train_test_split

In [2]:
path = "C:/Users/Уалихан/Downloads/CelebA_Spoof.zip/CelebA_Spoof/Data/train"
new_path = "E:\kbtu_courses\diploma_project\src\diploma/data"

In [3]:
for fr1 in tqdm(os.listdir(path)):
    fr2 = os.path.join(path, fr1) 

    if os.path.isdir(fr2):
        spoof = os.path.join(new_path, "spoof")
        live = os.path.join(new_path, "live")

    for fr3 in os.listdir(fr2):

        fr4 = os.path.join(fr2, fr3)

        for fr5 in os.listdir(fr4): 
            fr6 = os.path.join(fr4, fr5)
            if fr5.endswith(".jpg"):
                if fr3 == "spoof":
                    shutil.copy(fr6, os.path.join(spoof, fr5))
                elif fr3 == "live":
                    shutil.copy(fr6, os.path.join(live, fr5))

100%|██████████| 135/135 [00:11<00:00, 11.49it/s]

In [2]:
source = "E:/kbtu_courses/diploma_project/src/diploma/data"

data = []

for label in ["spoof", "live"]:
    label_path = os.path.join(source, label)
    
    for file in os.listdir(label_path):
        file_path = os.path.join(label_path, file)
        data.append({"path": file_path, "label": 0 if label == "spoof" else 1})

df = pd.DataFrame(data)

In [3]:
df

                                                   path  label
0     E:/kbtu_courses/diploma_project/src/diploma/da...      0
1     E:/kbtu_courses/diploma_project/src/diploma/da...      0
2     E:/kbtu_courses/diploma_project/src/diploma/da...      0
3     E:/kbtu_courses/diploma_project/src/diploma/da...      0
4     E:/kbtu_courses/diploma_project/src/diploma/da...      0
...                                                 ...    ...
8885  E:/kbtu_courses/diploma_project/src/diploma/da...      1
8886  E:/kbtu_courses/diploma_project/src/diploma/da...      1
8887  E:/kbtu_courses/diploma_project/src/diploma/da...      1
8888  E:/kbtu_courses/diploma_project/src/diploma/da...      1
8889  E:/kbtu_courses/diploma_project/src/diploma/da...      1

[8890 rows x 2 columns]

In [4]:
train_df, val_df = train_test_split(df, test_size=0.2, stratify=df['label'], random_state=42)

train_df.to_csv("train_v1.csv", index=False)
val_df.to_csv("val_v1.csv", index=False)